#wp-admin-bar-cf-purger-clear {
    display: block;
}
#wp-admin-bar-cf-purger-clear a:after{
    border: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    margin: -3px 0 0 5px;
    display: inline-block;
    font-family: dashicons;
    content: "\f176";
    font-size:16px;
}

#wp-admin-bar-cf-purger-clear a.spin:after{
    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: cf-purger-spin;
    -moz-animation-name: cf-purger-spin;
    animation-name: cf-purger-spin;
    content: url("images/spinner.png");
}

#wp-admin-bar-cf-purger-clear a.success:after{
    /*content: "\f147";*/
    content: "\f529";
    font-size: 20px;
    color: green;
}
#wp-admin-bar-cf-purger-clear a.error:after{
    content: "\f542";
    font-size: 20px;
    color: red;
}

@-moz-keyframes cf-purger-spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cf-purger-spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes cf-purger-spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#purge_cloud_flare .dashicons,
#purge_cloud_flare .spinner {
    margin: 2px 5px 0;
    display: inline-block!important;
}